.cards {

  box-sizing: border-box;
  padding: 15px;
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  text-align: center;
  justify-content: center;
}

.ex1 {
  padding: 35px;
}
